@charset "UTF-8";
/* 
    em HTML é id em CSS é  #
    em HTML é class em CSS é  .

*/

body{
    background-color: #ecf3f3;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #F2C029;
}
h1#principal{
    text-align: center;
    background-color: #6BD9F2;
    color: #F2CD5C;
}
h2{
    color: #63CAF2;
}
.basico{
    color: #99F2F2;

}
.intermediario{
    color: #6BD9F2;

}
.avancado{
    color: #63CAF2;

}
